<table class="table table-bordered table-striped table-doc">
    <thead>
        <tr>
            <th colspan=2>{{doc.package_name}}
                <span ng-show="!editing" ng-click="editing = !editing" class="glyphicon glyphicon-edit pointer pull-right"></span>
                <span ng-show="editing" ng-click="open(); editing = !editing" class="glyphicon glyphicon-floppy-disk pointer pull-right"></span>
            </th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>Version</td>
        <td ng-show="editing"><textarea ng-model="doc.spdx_version" class='form-control'></textarea></td>
        <td ng-show="!editing">{{doc.spdx_version}}</td>
    </tr>
    <tr>
        <td>Data License</td>
        <td ng-show="editing"><textarea ng-model="doc.data_license" class='form-control'></textarea></td>
        <td ng-show="!editing">{{doc.data_license}}</td>
    </tr>
    <tr>
        <td>Document Comment</td>
        <td ng-show="editing"><textarea ng-model="doc.document_comment" class='form-control'></textarea></td>
        <td ng-show="!editing">{{doc.document_comment}}</td>
    </tr>
    </tbody>
    <thead>
        <tr>
            <th colspan=2>Creation Information</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>Creator</td>
        <td ng-show="editing"><textarea ng-model="doc.creator" class='form-control'></textarea></td>
        <td ng-show="!editing">{{doc.creator}}</td>
    </tr>
    <tr>
        <td>Created</td>
        <td>{{doc.created_at}}</td>
    </tr>
    <tr>
        <td>Updated</td>
        <td>{{doc.updated_at}}</td>
    </tr>
    <tr>
        <td>Creator Comment</td>
        <td ng-show="editing"><textarea ng-model="doc.creator_comments" class='form-control'></textarea></td>
        <td ng-show="!editing">{{doc.creator_comments}}</td>
    </tr>
    </tbody>
    <thead>
        <tr>
            <th colspan=2>Package Information</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>Package Name</td>
        <td ng-show="editing"><textarea ng-model="doc.package_name" class='form-control'></textarea></td>
        <td ng-show="!editing">{{doc.package_name}}</td>
    </tr>
    <tr>
        <td>Package Version</td>
        <td ng-show="editing"><textarea ng-model="doc.package_version" class='form-control'></textarea></td>
        <td ng-show="!editing">{{doc.package_version}}</td>
    </tr>
    <tr>
        <td>Package Download Location</td>
        <td ng-show="editing"><textarea ng-model="doc.package_download_location" class='form-control'></textarea></td>
        <td ng-show="!editing">{{doc.package_download_location}}</td>
    </tr>
    <tr>
        <td>Package Summary</td>
        <td ng-show="editing"><textarea ng-model="doc.package_summary" class='form-control'></textarea></td>
        <td ng-show="!editing">{{doc.package_summary}}</td>
    </tr>
    <tr>
        <td>Package File Name</td>
        <td ng-show="editing"><textarea ng-model="doc.package_file_name" class='form-control'></textarea></td>
        <td ng-show="!editing">{{doc.package_file_name}}</td>
    </tr>
    <tr>
        <td>Package Supplier</td>
        <td ng-show="editing"><textarea ng-model="doc.package_supplier" class='form-control'></textarea></td>
        <td ng-show="!editing">{{doc.package_supplier}}</td>
    </tr>
    <tr>
        <td>Package Originator</td>
        <td ng-show="editing"><textarea ng-model="doc.package_originator" class='form-control'></textarea></td>
        <td ng-show="!editing">{{doc.package_originator}}</td>
    </tr>
    <tr>
        <td>Package Checksum</td>
        <td>{{doc.package_checksum}}</td>
    </tr>
    <tr>
        <td>Package Verification Code</td>
        <td ng-show="editing"><textarea ng-model="doc.package_verification_code" class='form-control'></textarea></td>
        <td ng-show="!editing">{{doc.package_verification_code}}</td>
    </tr>
    <tr>
        <td>Package Description</td>
        <td ng-show="editing"><textarea ng-model="doc.package_description" class='form-control'></textarea></td>
        <td ng-show="!editing">{{doc.package_description}}</td>
    </tr>
    <tr>
        <td>Package Copyright Text</td>
        <td ng-show="editing"><textarea ng-model="doc.package_copyright_text" class='form-control'></textarea></td>
        <td ng-show="!editing">{{doc.package_copyright_text}}</td>
    </tr>
    <tr>
        <td>License Declared</td>
        <td>{{doc.package_license_declared}}</td>
    </tr>
    <tr>
        <td>Package License Concluded</td>
        <td ng-show="!editing">{{doc.package_license_concluded}}</td>
        <td ng-show="editing"><textarea ng-model="doc.package_license_concluded" class='form-control'></textarea></td>
    </tr>
    </tbody>
    <thead>
        <tr>
            <th colspan=2>
                File Information
                <button ng-click='getFiles()'type="button" class="btn btn-primary pull-right">Load</button>
            </th>
        </tr>
    </thead>
    <tbody ng-show='files' ng-repeat='file in files'>
        <tr>
            <td>File Name</td>
            <td>{{file.file_name}}</td>
        </tr>
        <tr>
            <td>License Concluded</td>
            <td>{{file.license_concluded}}</td>
        </tr>
        <tr>
            <td>File Comment</td>
            <td>{{file.file_comment}}</td>
        </tr>
    </tbody>
</tbody>
</table>
<button ng-show="editing" ng-click="open(); editing = !editing" type="button" class="btn btn-primary">Save</button>
