<table class="table table-bordered table-striped table-doc">
				<thead>
								<tr>
												<th colspan=2>{{filename}}
																<span class="glyphicon glyphicon-pencil"></span>
												</th>
								</tr>
				</thead>
				<tbody>
				<tr>
								<td>SPDX Version</td>
								<td>SPDX-1.1</td>
				</tr>
				<tr>
								<td>Data License</td>
								<td>CC0-1.0</td>
				</tr>
				<tr>
								<td>Document Comment</td>
								<td>New comment</td>
				</tr>
				</tbody>
				<thead>
								<tr>
												<th colspan=2>Creation Information</th>
								</tr>
				</thead>
				<tbody>
				<tr>
								<td>Creator</td>
								<td>John Oerter</td>
				</tr>
				<tr>
								<td>Created</td>
								<td>2014-03-03T02:06:38Z</td>
				</tr>
				<tr>
								<td>Updated</td>
								<td>2014-03-05T02:06:38Z</td>
				</tr>
				<tr>
								<td>Creator Comment</td>
								<td>New Comment</td>
				</tr>
				</tbody>
				<thead>
								<tr>
												<th colspan=2>Package Information</th>
								</tr>
				</thead>
				<tbody>
				<tr>
								<td>Package Name</td>
								<td>Busy Box</td>
				</tr>
				<tr>
								<td>Package Version</td>
								<td>v1.0</td>
				</tr>
				<tr>
								<td>Package Download Location</td>
								<td>NONE</td>
				</tr>
				<tr>
								<td>Package Summary</td>
								<td>This is a sample package view</td>
				</tr>
				<tr>
								<td>Package File Name</td>
								<td>busybox.zip</td>
				</tr>
				<tr>
								<td>Package Supplier</td>
								<td>NO ASSERTION</td>
				</tr>
				<tr>
								<td>Package Originator</td>
								<td>NO ASSERTION</td>
				</tr>
				<tr>
								<td>Package Checksum</td>
								<td>SHA1 f7c3b202f8243c9ace6ca7438deddda4264c0e2d</td>
				</tr>
				<tr>
								<td>Package Verification Code</td>
								<td>da39a3ee5e6b4b0d3255bfef95601890afd80709</td>
				</tr>
				<tr>
								<td>Package Description</td>
								<td>This is a description</td>
				</tr>
				<tr>
								<td>Package Copyright Text</td>
								<td>This is a copyright text</td>
				</tr>
				<tr>
								<td>License Delcared</td>
								<td>MIT</td>
				</tr>
				<tr>
								<td>Package License Concluded</td>
								<td>NO ASSERTION<td>
												</tr>
												</tbody>
								</table>
