<h1 class="bold">Docs</h1>
<div class="input-group searchbar">
	<span class="input-group-addon">Search</span>
	<input type="text" class="form-control" placeholder="Document Name">
</div>
<table class="table table-bordered table-spdx">
	<tbody>
	<tr ng-repeat="doc in docs">
		<td class="td-timestamp">
			<p class="graybox">
			<span class="glyphicon glyphicon-time"></span>
            {{doc.created_at}}
			</p> 
		</td>
		<td class="td-main">
			<a href="#">{{doc.package_file_name}}</a>
		</td>
		<td class="td-controls graybox">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group-sm">
					<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-download"></span>
						Download
					</button>
					<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-transfer"></span>
						Compare
					</button>
				</div>
			</div>
		</td>
	</tr>
