<div class="modal-header">
	<h2>Upload File</h2>
	<!--<form method="post" action="http://localhost:3000/api/scan" enctype="multipart/form-data">
		<p><input type="text" name="name" /></p>
		<p><input type="file" name="file" /></p>	
		<p><input type="submit" name="Upload" /></p>
	</form>-->
	<label>Name</label><input type="text" ng-model="myModelObj"><br>
	<input type="file" class="btn btn-primary" ng-file-select="onFileSelect($files)" multiple><br>
	<div ng-file-drop-available="dropSupported=true" ng-file-drop="onFileSelect($files);" class="drop-box" ng-show="dropSupported">Drop files here</div>
	<div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div><br>
	<div ng-show="files && files.length">
		<h3>Selected Files</h3>
		<div class="sel-file" ng-repeat="f in files">
			{{($index + 1) + '.'}}
			<!--<img ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}"> ng-show="progress[$index] < 0"-->
			
			<!--<span class="progress" ng-show="progress[$index] >= 0">						
				<div style="width:{{progress[$index]}}%">{{progress[$index]}}%</div>
			</span>-->				
			<!--<button class="button" ng-click="abort($index)" ng-show="hasUploader($index) && progress[$index] < 100">Abort</button>-->
			{{f.name}} - size: {{f.size}}B - type: {{f.type || "Undifined"}}
			<button class="btn-success" ng-click="submitUplaod($index)" >Upload</button>
		</div>
	</div>
	<div ng-show="uploadedFile != null">
		<br>
		<label>{{uploadedFile}}</label>
		<br>
	</div>
	<br>
	<!--<button class="btn btn-success" ng-click="submitUpload()">Save</button>-->
    <button class="btn btn-danger" ng-click="cancelUpload()">Cancel</button>
</div>